---
layout: page
title: Secret Gaygent
permalink: /
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
           <h1 class="animated fadeInUp">SECRET GAYGENT: <br> A short film</h1>
          <p class="animated fadeInUp">SECRET GAYGENT is a satirical comedy that explores what happens when a worldview adhered to with militaristic rigidity is completely overturned, with monumental and hilarious personal consequences.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>About The Film</h2>
            <p>Labels such as gay, lesbian, transgender, bisexual, etc all help to clarify our understanding of gender and sexuality, offering a shorthand on grasping the core principles of the complexity that is our identity. However, they are just that: a shorthand.</p>
        </div>
          <p>
           SECRET GAYGENT puts forward the notion that we must be free to navigate within and beyond those labels as we choose: we are our own person, and we are allowed to define ourselves as we please—without being policed. It also aims to diversify screen culture in Australia, in front of and behind the lens: featuring an Asian protagonist and a majority female crew, created by the queer community for the queer community.
          </p>
          </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="" alt="">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<!--<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FsecretgaygentAU%2Fvideos%2F117172888941630%2F&show_text=0&width=450" width="450" height="253" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
    </div>
  </div>
</div>
</section>-->

<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>SUPPORT OUR CROWDFUNDING CAMPAIGN</h2>
          <p>Check out our project, our vision, and help us bring it to reality!</p>
          <a class="btn btn-default btn-call-to-action" href="#" >Claim an awesome perk<br><font-size="80%">(COMING SOON!)</font-size></BR></a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content Start -->
<!--section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Fun Facts About Us</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="Pepole">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section-->
